<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbao.recommend.respositoy.mysql.dao.AgentViewDao" >
  <resultMap id="AgentViewMap" type="AgentView" >
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="items" property="items"/>
    <result column="dt" property="dt"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>
</mapper>