<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbao.recommend.respositoy.mysql.dao.CategoryDao">
	<resultMap type="Category" id="CategoryMap">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="status" property="status" />
		<result column="parent" property="parent" />
		<result column="hot" property="hot" />
		<result column="isLeaf" property="isLeaf" />
		<result column="url" property="url" />
	</resultMap>
</mapper>
