<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbao.recommend.respositoy.mysql.dao.MerDirectoryDao">
	<resultMap type="MerDirectory" id="MerDirectoryMap">
		<result column="dir_id" property="dirId" />
		<result column="main_dir_id" property="mainDirId" />
		<result column="dir_name" property="dirName" />
		<result column="main_dir_name" property="mainDirName" />
		<result column="lev" property="level" />
		<result column="valid_flag" property="validFlag" />
	</resultMap>
</mapper>