<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qbao.recommend.respositoy.mysql.dao.QbdcKeywordDeptRealDao">
	<resultMap id="QbdcKeywordDeptRealMap" type="QbdcKeywordDeptReal">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="dept_id" property="deptId" jdbcType="INTEGER" />
		<result column="keyword" property="keyWord" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="weight" property="weight" jdbcType="INTEGER" />
	</resultMap>
</mapper>