<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qbao.recommend.respositoy.mysql.dao.UserProfileDao">
    
	<resultMap type="UserProfile" id="UserProfileMap" >
		<result column="user_id" property="userId" />
		<result column="json" property="json" />
	</resultMap>

</mapper>